In [1]:
import pandas as pd
import numpy as np
import data

In [2]:
#load data from files
train_frame,train_labels_frame,test_frame=data.loadFrame()

# train_frame

In [3]:
#over look
train_frame.head(10)

,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,170000,NaN,3089,2798058,293,1,1
1,170000,NaN,1259,463234,6161,1,2
2,170000,NaN,4465,1857485,7434,4,1
3,170000,NaN,1004,2038823,977,1,1
4,170000,NaN,1887,2015141,3688,1,1
5,170000,NaN,3293,1177829,3347,1,1
6,170000,NaN,4793,1257450,1876,1,2
7,170000,NaN,1456,764204,6086,1,3
8,170000,NaN,4465,1438585,2426,2,3
9,170000,NaN,985,1750317,5414,1,3

In [4]:
#shape of train_frame
train_frame.shape

(3749528, 7)